<h1><%= @band.name %></h1>



<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Update <%= @band.name %>'s Name:</label>
  <input id="name" name="name" type="text">

  <button class="submit">Update Band</button>


<% @all_venues.each do |venue| %>
   <div class="checkbox">
     <label>
       <input type="checkbox" name="venue_id[]" value="<%= venue.id() %>"><%= venue.name() %>
binding.pry
     </label>
   </div>
 <% end %>



 <button type="submit">Add Venue</button>

</form>
